// ============================================
// Typography
// ============================================

// Base Styles for generated HTML

// Vertical rythm
// ============================================

.typography {
  p,
  address,
  table,
  ul,
  ol,
  pre,
  .pre,
  blockquote {
    margin-bottom: $space;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Code
// ============================================

.typography {
  .prism-code,
  code {
    font-family: $ff-mono;
    font-size: $fs - 2px;
    background-color: $accent-light;
    padding: 2px 5px;
    border-radius: 3px;
  }

  .prism-code,
  pre code {
    line-height: 1.4;
    display: block;
    padding: $space * 0.5;
    border-radius: 0;
    background-color: transparent;
  }

  .prism-code,
  pre {
    overflow: auto;
    background-color: $gray-powder;
    border-radius: 4px;
  }
}

// Headings
// ============================================

.typography {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin-bottom: $space * 0.5;

    &:not(:first-child) {
      margin-top: $space * 1.5;
    }

    code {
      line-height: inherit;
    }
  }

  h1,
  h2 {
    font-size: 30px;
    line-height: 1.2;

    &:not(:first-child) {
      padding-top: $space * 0.75;
      border-top: 1px solid rgba($color-txt, 0.1);
    }

    code {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 1.2;

    code {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 18px;
    line-height: 1.25;

    code {
      font-size: 18px;
    }
  }

  h5 {
    font-size: 18px;
    line-height: 1.35;
    opacity: 0.5;

    code {
      font-size: 16px;
    }
  }
}

// Links
// ============================================

.typography {
  a {
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }
}

// Blockquote
// ============================================

.typography {
  blockquote {
    border-left: 5px solid $primary;
    padding-left: $space * 0.5;
    font-style: italic;
  }
}

// Lists
// ============================================

// General
.typography {
  ul,
  ol {
    li {
      position: relative;
      margin-bottom: 3px;
    }

    li:last-child {
      margin-bottom: 0;
    }

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  li {
    ul,
    ol {
      margin-top: 5px;
    }
  }
}

// Ordered
.typography {
  ol {
    counter-reset: ol;
  }

  ol li {
    padding-left: 1.7em;
    counter-increment: ol;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: counter(ol) '.';
    }
  }
}

// Unordered
.typography {
  ul li {
    padding-left: 1.4em;

    &::before {
      position: absolute;
      top: 0.7em;
      left: 0.2em;
      width: 6px;
      height: 6px;
      background-color: currentColor;
      content: '';
      border-radius: 99px;
    }
  }
}
